WebDAV: the body of PROPFIND requests should be content-type: application/xml

**Describe the bug**

Authpass sends PROPFIND requests with the content-type of text/plain, but it should
be sending a content type of application/xml.
Quoting from RFC 4918, section 8.2:

>    When XML is used for a request or response body, the Content-Type
>    type SHOULD be application/xml.  Implementations MUST accept both
>    text/xml and application/xml in request and response bodies.  Use of
>    text/xml is deprecated.

I use mod_webdav from lighttpd, and in recent versions, it is very strict.  It rejects PROPFIND with text/plain as the content type.

**To Reproduce**
Steps to reproduce the behavior:
1. Install lighttpd and configure mod_webdav.
2. Go to https://your-server.example.net/dav/ (wherever your WebDAV tree is).
3. Start Authpass.  Bring up the WebDAV dialog, and supply base URL and credentials.
4. After clicking "ok", you should get an HTTP error 415.

**Expected behavior**
I expected to see the root folder of my WebDAV tree.

**Smartphone (please complete the following information):**
 - Device: Motorola Moto G6
 - OS: Android 9

**Additional context**
I looked at lighttpd source code and found the cause of the HTTP 415 error: unacceptable content type.
This looks like a super easy fix.  I'd try sending a patch, but I'm not that knowledgeable of Android development.
